<div class = "room-selector-container">
    <div class="welcome-box">
        <h3>Welcome {{user}}!</h3>
        <h2>Select your room:</h2>
    </div>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    
    <div class="room-list">
        <ul *ngIf="rooms.length > 0; else noRooms">
            <li *ngFor="let room of rooms" (click)="selectRoom(room.roomId)">
                {{ room.roomName }}
            </li>
        </ul>
    </div>

    <ng-template #noRooms>
        <p>No rooms available.</p>
    </ng-template>
</div>
